.video iframe {
    max-width: 100%;
    max-height: 100%;
}
.video.stuck {
    position: fixed;
    z-index: 9;
    bottom: 40px;
    right: 70px;
    transform: translateY(100%);
    width: 300px;
    height: 160px;
    animation: fade-in-up 0.25s ease forwards;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
   }
    100% {
        transform: translateY(0);
        opacity: 1;
   }
}
